*{
    margin: 0;
    padding: 0;
}
:root{
    --bg-color:rgb(41, 115, 190)
}
.container{
    height: 100vh;
    color: white;
    display: grid;
    grid-template-columns: 1fr 150px;
    grid-template-rows: 30px 30px 1fr 20px;
} 
.head{
    grid-column: 1/-1;
    text-align: center;
    line-height: 30px;
    background-color: var(--bg-color);
    border-bottom: 2px solid rgb(12, 37, 75);
}
p{
    font-size: 14px;
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--bg-color);
}
.navbar a{
    text-decoration: none;
    color: white;
}
.content{
    grid-row: 3/3;
    color: black;
    padding: 5px;
}
.aside{
    grid-row: 2/4;
    background-color: rgb(12, 37, 75);
    padding: 5px;
}
.footer{
    grid-row: 4/4;
    grid-column: 1/-1;
    background-color: var(--bg-color);
    color: white;
    text-align: center;
}